# Replikere løpet for skjema A og C fra Kompis
- I Kompis slås A og C sammen etter operasjonene er gjort på hver av datasettene. Kan det gjøres før?
- Oslo: kopiere alle rader med region 0301 til 0300. 
- Kan jeg kontrollere at kun gyldige arter og funksjoner er inkludert på en annen måte enn filtrering? Kanskje en merge?

In [ ]:
import pandas as pd
import glob

In [ ]:
paths = glob.glob("/ssb/bruker/mtk/Testdata/*")
paths

In [ ]:
a_2021 = pd.read_csv("/ssb/bruker/mtk/Testdata/0A_2021.csv", sep = ';')
a_2021.info()
a_2021.head()

In [ ]:
#a_2021.dtypes

In [ ]:
#Endrer datatype
a_2021['PERIODE'] = a_2021['PERIODE'].astype("str")
a_2021['REGION'] = a_2021['REGION'].astype("str")
a_2021['KONTOKLASSE'] = a_2021['KONTOKLASSE'].astype("str")
a_2021['FUNKSJON_KAPITTEL'] = a_2021['FUNKSJON_KAPITTEL'].astype("str")
a_2021['ART_SEKTOR'] = a_2021['ART_SEKTOR'].astype("str")

In [ ]:
#a_2021.dtypes

In [ ]:
#Velger kun de kolonnene jeg skal ha med videre
start_a = a_2021[['PERIODE', 'REGION', 'KONTOKLASSE', 'FUNKSJON_KAPITTEL', 'ART_SEKTOR', 'BELOP']]

In [ ]:
#Endrer headingen fra store til små bokstaver
start_a.columns = [x.lower() for x in start_a.columns]

In [ ]:
#start_a.dtypes

In [ ]:
#Gir nytt navn til et par kolonner. Denne gir feilmelding, men funker. Bør fikses så feilmelding ikke kommer. 
start_a.rename(columns={'funksjon_kapittel':'funksjon','art_sektor':'art'}, inplace = True)

In [ ]:
#start_a.head()

In [ ]:
#Filtrerer bort alle rader med manglede verdier. Fungerer det? Må testes på et annet datasett som faktisk har manglende verdier... 
start_a.dropna()

### Skal endre alle verdier som har art høyere eller lik 600 til negative tall