# Replikere løpet for skjema A og C fra Kompis
- Hente fra Dynarev
- I Kompis slås A og C sammen etter operasjonene er gjort på hver av datasettene. Kan det gjøres før?
- Oslo: kopiere alle rader med region 0301 til 0300. 
- Kan jeg kontrollere at kun gyldige arter og funksjoner er inkludert på en annen måte enn filtrering? Kanskje en merge?

In [ ]:
import pandas as pd
import numpy as np
import glob

In [ ]:
paths = glob.glob("/ssb/bruker/mtk/Testdata/*")
paths

In [ ]:
a_2021 = pd.read_csv("/ssb/bruker/mtk/Testdata/0A_2021.csv", sep = ';')
c_2021 = pd.read_csv("/ssb/bruker/mtk/Testdata/0C_2021.csv", sep = ';')

In [ ]:
#Setter sammen skjema a og c
a_c = pd.concat([a_2021, c_2021])

In [ ]:
#a_2021.dtypes

In [ ]:
#Endrer datatype
a_c['PERIODE'] = a_c['PERIODE'].astype("str")
a_c['REGION'] = a_c['REGION'].astype("str")
a_c['KONTOKLASSE'] = a_c['KONTOKLASSE'].astype("str")
a_c['FUNKSJON_KAPITTEL'] = a_c['FUNKSJON_KAPITTEL'].astype("str")
a_c['ART_SEKTOR'] = a_c['ART_SEKTOR'].astype("str")

In [ ]:
#a_2021.dtypes

In [ ]:
#Velger kun de kolonnene jeg skal ha med videre
start_a_c = a_c[['PERIODE', 'REGION', 'KONTOKLASSE', 'FUNKSJON_KAPITTEL', 'ART_SEKTOR', 'BELOP']]

In [ ]:
#Endrer headingen fra store til små bokstaver
start_a_c.columns = [x.lower() for x in start_a_c.columns]

In [ ]:
start_a_c.dtypes

In [ ]:
#Gir nytt navn til et par kolonner. Denne gir feilmelding, men funker. Bør fikses så feilmelding ikke kommer. 
start_a_c.rename(columns={'funksjon_kapittel':'funksjon','art_sektor':'art'}, inplace = True)

In [ ]:
#start_a.head()

In [ ]:
#Filtrerer bort alle rader med manglede verdier. Fungerer det? Må testes på et annet datasett som faktisk har manglende verdier... 
start_a_c.dropna()

In [ ]:
start_a_c.head(400)

In [ ]:
start_a_c['art']=start_a_c['art'].apply(lambda x: '{0:0>3}'.format(x))

### Skal endre alle verdier som har art høyere eller lik 600 til negative tall
- Koden under snur fortegn på alle verdier hvor art starter på siffer 6 eller mer. 
- Vet ikke hva advarselen betyr

In [ ]:
#start_a['belop'] = start_a.loc[np.where(start_a['art']>'600', start_a['belop'], start_a['belop']*-1)]
start_a_c['belop']=np.where((start_a_c.art > '600'), start_a_c.belop*-1, start_a_c.belop)
start_a_c.head(400)

## Oslo 
- Tallene fra Oslo skal være med både for kommune og fylkeskommune. Vi må derfor kopiere alle Oslo tall og endre region på de kopierte radene fra 0301 til 0300.

In [ ]:
oslo=start_a_c[(start_a_c['region']=='301')]

In [ ]:
oslo